html {
    font-family: Montserrat,Open Sans,Helvetica Neue,Arial;
    color: #484e50;
    background-color:darkcyan;
}

h1  {
    font-size: 4em;
    margin-top: 45px;
    margin-bottom: 15px;
}

.header {
   display: flex;
   flex-direction: row;
}

#protagonist-pic {
    display: block;
    height: 250px;
    margin: 25px 10px 25px 25px;
    border: 2px solid lightslategray;
    border-radius: 100%;
    background-color: darkslategrey;
}

.profile {
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style: none;
}

.profile > h3 {
    padding-left: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.profile > p {
    padding-left: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
}


.famous-people-pic {
    max-width: 200px;
    height: auto;
}

/*  4. Use flexbox to create a layout of cards for each of the following parts addressed in the description of your personality
    6. Use flexbox to display images of famous people with your personality type.